

/* ===== Primary Styles ========================================================
   Author: Himanshu Awasthi, Pronoy Chopra
   ========================================================================== */
body
{
    /*background-color: #666666;*/
    background-color: #ffffff;
}

.main p
{
    font-family: 'Vollkorn', serif;
    font-size: 50px;
    color: #333333;
    padding-bottom:15px;
}

.hero-unit
{
    background-color: #A4D3EE;
}

.tagline p
{
    margin:0px;
    padding:0px;
    color: #646464;
}

.tagline p.t1
{
    font-size:15px;
}

.links p a
{
    /*color: #003399;*/
    color: #ffffff;
}

.bullets
{
    float:left;
    width:430px;
}
.bullets p
{
    margin:0px;
    padding:0px;
    color: #003399;
}

.image
{
    float:right;
        
}

.image img
{
    float:right;
    border: 3px solid black;
    box-shadow: 0 0 20px #666666;
    margin: 10px;
}

.backbutton
{
    float:left;
    margin:0px;
    position:absolute;
    bottom:40px;
    left:10px;
}





