matrix:
  - name: Markdown
    aspell:
      lang: en
    dictionary:
      encoding: utf-8
      wordlists:
        - .github/wordlist.txt
    pipeline:
      - pyspelling.filters.markdown:
      - pyspelling.filters.html:
          comments: false
          ignores:
            - code
            - pre
    sources:
      - '_posts/**/*.md'
      - '_posts/**/*.markdown'
    default_encoding: utf-8
