title: Himanshu Awasthi
author: Himanshu Awasthi
email: himanshuawasthi9@gmail.com
description: >
  Code, Web, Music, Aviation, Life, Complexity and Everything else
show_excerpts: true # set to true to show excerpts on the homepage

# Minima date format
# refer to http://shopify.github.io/liquid/filters/date/ if you want to customize this
sass:
  sass_dir: _sass
plainwhite:
  name: Himanshu Awasthi
  tagline: PM | Developer
  date_format: "%b %-d, %Y"
  sitemap: true # set to true to generate sitemap.xml content
  analytics_id: "UA-165925100-1"
  dark_mode: true

  # generate social links in footer
  social_links:
    twitter: 89hardy
    github: 89hardy
    linkedIn: in/ha89
#    rss: rss
    # dribbble: jekyll
    # flickr:   jekyll
    # instagram: jekyll
    # pinterest: jekyll
    # youtube: jekyll
    # facebook: jekyll
    
  navigation:
    - title: About
      url: "/about"
#    - title: Blog
#      url: "https://89hardy.wordpress.com/"

    

    # Mastodon instances
#  mastodon:
#    - username: jekyll
#      instance: example.com
#    - username: jekyll2
#      instance: example.com

# If you want to link only specific pages in your header, uncomment
# this and add the path to the pages in order as they should show up
 header_pages:
  - about.md

# navigation
# plainwhite:
#   navigation:
#     - title: About Me
#       url: "/my-work"
#     - title: Contact
#       url: "/resume"
      
# Build settings
theme: plainwhite

url: "https://himanshuawasthi.com" # the base hostname & protocol for your site
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
#  - jekyll-feed
